<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="logImpl" value="SLF4J"/>
<!--        启用驼峰命名法-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
<!--    起别名，这样mapper映射文件中resultType的地方写全类名的时候可以更简单-->
    <typeAliases>
<!--        <typeAlias type="com.kkk.pojo.Emp" alias="Emp"/>-->
<!--        <typeAlias type="com.kkk.pojo.Teacher" alias="Teacher"/>-->
<!--        表示这个包的所有类的别名就是类名本身-->
        <package name="com.kkk.pojo"/>
    </typeAliases>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///mybatis_example"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        <mapper resource="mapper/EmpMapper.xml"/>-->
        <mapper resource="mapper/TeacherMapper.xml"/>
        <mapper resource="mapper/StudentMapper.xml"/>
    </mappers>
</configuration>